.nav__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.nav__search input[type="text"],
.nav__search input[type="submit"] {
    padding: 8px 4px; /* Ajustar el padding vertical para que ambos elementos tengan la misma altura */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

.nav__search input[type="submit"] {
    color: white;
    padding: 8px 20px; /* Mantén el padding horizontal para el botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.nav__search input[type="submit"]:hover {
    background-color: #45a049;
}

.carousel{
position: relative;
}
.carousel-item{
    padding-top: 10%;
    position: relative;
}
.carousel-item img{

    max-height: 600px !important;
    object-fit:none;
}

.header{
    
    height: 100px;
}